#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.gm-style-iw-d {
    margin: 5px;
}